.root {
    
    li {
        display: inline-flex;
    }

    a {
        justify-content: center;
        align-self: center;
        width: 45px;
        height: 45px;
        padding: 10px;
        border: 1px solid;
        border-radius: 30px;
        margin-right: 11px;
        cursor: pointer;
        line-height: 26px;
        text-align: center;

        &:hover {
            background-color: #fe5f1e;
            color: #fff
        }
    }

    :global {
        .selected {
            a   {
                background-color: #fe5f1e;
                color: #fff;
            }
        }
    }
}